<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-4"><h1>Selecionar Listas</h1></div>
            <div class="col-6"></div>
            <div class="col-2"><a href="/minhaslistas" class="btn btn-primary">Minhas Listas</a></div>
        </div>

        <!-- FORMULARIO DE LISTAS PARA ENVIO -->
        <form  action="/enviopython" method="post">
            <% listas.forEach(lista => { %>
                <br>
                <div class="form-check">
                    <!-- O VALOR A SER PEGO É O DE LISTA.CONTATOS -->
                    <input type="checkbox" class="form-check-input" name="lista" id="<%=lista.id %>" value="<%= lista.contatos %>">
                    <label class="form-check-label" for="<%= lista.id %>"> <%= lista.titulo %> </label>
                </div>
            <% }); %>

            <br>
            <button class="btn btn-primary" type="submit" >Iniciar Envio</button>

        </form>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>
<script>
    //SCRIPT MAROTO QUE DESMARCA OS CHECKBOX AO VOLTAR
    $(document).ready(function(){
        $("input[type='checkbox']").prop('checked', false);    
    })
</script>