<%- include partials/header.ejs %>

<body>
    
    <%- include partials/navbar.ejs %>
    <div class="container">
        <br>
        <br>
        <br>
        <hr>
        <div class="row">
        <div class="col-4"><h1>Selecionar Listas</h1></div>
        <div class="col-6"></div>
        <div class="col-2"><a href="/minhaslistas" class="btn btn-primary">Minhas Listas</a></div>
        </div>
        <script>
            
            var listasenvio =[];
            var listasenviomesmo =[];
        </script>

        <%listas.forEach(lista => { %>

            <br>
            <div class="form-check">
                <input type="checkbox" name="<%=lista.id %> " id="<%=lista.id %>" onChange="estado(id)" >
                <label>
                  <%=lista.titulo %> 
                </label>
            </div>
            <script>
                listasenvio.push("<%=lista.id%>");

            </script>
        <% ;;}); %>

        <hr>
        <div>
            <form onsubmit="estado2()" onsubmit="submeter(event,this)" action="/enviopython" method="post">
                <input type="hidden" name="enviopython" id="idpython" value="">

                <button class="btn btn-primary" type="submit" >Iniciar Envio</button>
            </form>
        </div>
    </div>
</body>
<%- include partials/footer.ejs %>


<script>

    function estado2(){
        for (i in listasenvio){
            if(listasenvio[i].checked==true){
            }
        }
    }

    function estado(checkid){
        
        var checkboxcheck =checkid;
        
        for(i in listasenvio){
            if(checkboxcheck==listasenviomesmo[i]){
                ver = true;
                break
            }
            else{
                ver = false;
            }
        };
        if(ver == false){
            listasenviomesmo.push(checkboxcheck);
        }
        else{
            listasenviomesmo.pop(checkboxcheck);
        };
        
        
    };
    
    function submeter(event,form){
        
        form.submit();   
    }

</script>